/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: 'RENAME_FASTQ|.*VCF_ID_REPAIR:BCFTOOLS_REHEADER|.*BAM_ID_REPAIR:SAMTOOLS_(REHEADER|INDEX)' {
        publishDir = [
            path: { "${params.outdir}/results/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null: filename.contains(meta.id) ? filename : "${meta.id}.${filename}" }
        ]
    }

    withName: 'PARSE_DRAGEN' {
        ext.args = { params.path_in_manifest ? "--parent_path ${params.outdir}/results/${meta.id}" : "" }
        publishDir = [
            [
            path: { "${params.outdir}/results/${meta.id}/logs" },
            mode: params.publish_dir_mode,
            pattern: "*.{log,skipped_files.txt}",
            saveAs: { filename -> "${filename.split("/").last()}" }
            ],
            [
            path: { "${params.outdir}/results/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if ((filename.endsWith('.log')) || (filename.endsWith('.skipped_files.txt')) || (filename.equals('versions.yml') || filename.equals('file_manifest.tsv'))) {
                    return null
                }
                def basename = "${filename.split("/").last()}"
                return basename.contains(meta.id) ? basename : "${meta.id}.${basename}"
                }
            ]
        ]
    }

    withName: 'PARSER_.*' {
        publishDir = [ enabled: false ]
    }

    withName: '.*BAM_ID_REPAIR:SAMTOOLS_REHEADER' {
        ext.args = '--no-PG'
        ext.prefix = { input.baseName.replace("${meta.old_id}", "${meta.id}") - ".rg" }
    }

    withName: '.*BAM_ID_REPAIR:SAMTOOLS_INDEX' {
        errorStrategy = 'ignore'
    }

    withName: '.*BAM_ID_REPAIR:SAMTOOLS_ADDREPLACERG' {
        ext.args = { '--no-PG' + (input.getExtension() == "cram" ? " -O cram,version=3.0" : "") }
        ext.prefix = { input.baseName.replace("${meta.old_id}", "${meta.id}") + ".rg" }
        publishDir = [ enabled: false ]  // Disable publishing for this step
    }

    withName: '.*VCF_ID_REPAIR:BCFTOOLS_REHEADER' {
        ext.args   = ''
        ext.args2  = {"--output-type z --write-index=tbi --no-version" }
        ext.prefix = { def new_name = vcf.baseName.replace("${meta.old_id}", "${meta.id}").replaceAll(/\.?vcf$/, ""); new_name.contains(meta.sample) ? new_name : "${meta.sample}.${new_name}" }
    }

}
