/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = params.publish_all ? [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ] : []

    withName: '.*BAM_ID_REPAIR:SAMTOOLS_REHEADER' {
        // TODO: header-wide replacement of sampleID
        ext.args = {'-P -c \'sed -E \"/^@RG/ s/SM:\\S+/SM:' + "${meta.participant_sample}" + '/g\" \' '}
        // TODO: naming convention for re-headed vcfs
        ext.prefix = { bam.baseName - ".bam" + ".id_repaired" }
        publishDir = [
            path: { "${params.outdir}/ID_replace/alignments" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*VCF_ID_REPAIR:BCFTOOLS_REHEADER' {
        ext.args   = ''
        ext.args2  = {"--output-type z --write-index=tbi" }
        // TODO: naming convention for re-headed vcfs
        ext.prefix = { vcf.baseName - ".vcf" + ".reheader"}
    }

    publishDir = [
        path: { "${params.outdir}/ID_replace/variants" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

}
