/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = params.publish_all ? [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ] : []

    withName: 'MULTIQC' {
        container = "biocontainers/multiqc:1.32--pyhdfd78af_0"
        ext.args   = {"--clean-up " + (params.multiqc_title ? "--title \"$params.multiqc_title\"" : '') }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SEQFU_CHECK' {
        ext.args   = { "--safe-exit --deep" }
    }

    withName: GATK4_VALIDATEVARIANTS {
        ext.args = '--QUIET --verbosity WARNING' // --validation-type-to-exclude ALL
        ext.prefix = { meta.id + ".validateVariants"}
    }

    withName: PICARD_VALIDATESAMFILE {
        ext.args = '--QUIET --MODE SUMMARY --IGNORE INVALID_TAG_NM --IGNORE MISSING_TAG_NM'
        ext.prefix = { meta.id + ".validatesam"}
    }
}
